<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shawki vai</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


   <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <h2>
                   Please Register Here
                </h2>
                <br><br>
                <form action="/add_data" method="POST">

                    <div class="input-group">
                        <span class="input-group-addon">Your Name</span>
                        <input type="text" class="form-control" name="name" id="user" aria-describedby="basic-addon3">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">Your Phone Number</span>
                        <input type="text" class="form-control" name="phone_number" id="user" aria-describedby="basic-addon3">
                    </div>
                    <br>
                    <input type="Submit" value="register" class="btn btn-default btn-sm">
                </form>
            </div>
        </div>

</body>
</html>